[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
falcon = "*"
ipython = "*"
gunicorn = "*"
httpie = "*"
msgpack-python = "*"
pytest = "*"
requests = "*"
numpy = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.6"
